{{template "start" .}}
<div class="stories" hx-get="/topstories?embed" hx-trigger="load">
  {{template "story-placeholder" .}}
  {{template "story-placeholder" .}}
  {{template "story-placeholder" .}}
  {{template "story-placeholder" .}}
  {{template "story-placeholder" .}}
</div>
{{template "end" .}}
