{{define "part"}}
  <article class="comment">
      <div class="comment-body">{{.Text}}</div>
      <footer>
          <span>{{.By}}</span>
          <span data-timestamp>{{.Time}}</span>
          {{if .Answers}}
          <a href="/comment/{{.Id}}">
            {{.Answers}} answers
          </a>
          {{end}}
      </footer>
  </article>
{{end}}
