{{define "part"}}
  <article class="comment">
      <div class="comment-body">{{.Comment.Text}}</div>
      <footer>
          <span>{{.Comment.By}}</span>
          <span data-timestamp>{{.Comment.Time}}</span>
          {{if .ShowCommentsLink}}
          <a href="/comment/{{.Comment.Id}}">
            {{.Comment.Answers}} answers
          </a>
          {{end}}
      </footer>
  </article>
{{end}}
