{{define "part"}}
  <article class="story">
      <a href="{{.Url}}" target="_blank" title="{{.Title}}" class="title">{{.Title}}</a>
      <footer>
          <span class="by-line">{{.Score}} points by {{.By}}</span>
          <span data-timestamp>{{.Time}}</span>
          {{if .Descendants}}
          <a href="/story/{{.Id}}">
            {{.Descendants}} comments
          </a>
          {{end}}
      </footer>
  </article>
{{end}}
