{{define "part"}}
    {{range $id := .Ids}}
        <article class="story" hx-get="/parts/story/{{$id}}" hx-trigger="revealed" hx-swap="outerHTML">
            <a class="title"><div class="skeleton" style="width: 60%"></div></a>
            <footer><div class="skeleton" style="width: 40%"></div></footer>
        </article>
    {{end}}
{{end}}
