{{template "start" .}}
<h1>Index</h1>
<div hx-get="/topstories" hx-trigger="load">
  <img height="30" alt="Result loading..." class="htmx-indicator" src="/assets/loader.gif"/>
</div>
{{template "end" .}}
