{{define "start"}}
<html lang="en">
<head>
    <title>Hackernews</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Hackernews example app in htmx and Go" lang="en"/>
</head>
<body>
{{end}}
