{{define "start"}}
<html lang="en">
<head>
    <title>Hackernews</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Hackernews example app in htmx and Go" lang="en"/>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
</head>
<body>
{{end}}
