{{define "story-placeholder"}}
  <article class="htmx-indicator story placeholder">
    <a class="title"><div class="skeleton" style="width: 60%"></div></a>
    <footer><div class="skeleton" style="width: 40%"></div></footer>
  </article>
{{end}}
