{{range $id := .Ids}}
    <article class="story" hx-get="/story/{{$id}}?embed" hx-trigger="revealed" hx-swap="outerHTML">
        <a class="title">{{template "skeleton" .}}</a>
        <footer>{{template "skeleton" .}}</footer>
    </article>
{{end}}
