package templates

import (
    "fmt"
)

templ Index(ids []int) {
  <div class="stories">
    for _, id := range ids {
      <article class="story" hx-get={fmt.Sprintf("/parts/story/%d", id)} hx-trigger="revealed" hx-swap="outerHTML">
        <a class="title"><div class="skeleton" style="width: 60%"></div></a>
        <footer><div class="skeleton" style="width: 40%"></div></footer>
      </article>
    }
  </div>
}
